/* AboutSection.css */

.About-section {
  padding: 2rem;
  background-color: #f8f9fa; /* Light background color */
}

.About-section h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.about-text {
  flex: 1;
}

.Imagecontainer {
  flex: 1;
  display: flex;
  justify-content: center;
}

.Imagecontainer img {
  max-width: 100%;
  height: auto;
}

.our-story {
  margin-bottom: 2rem;
}

.our-story h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.our-story p {
  margin-bottom: 1rem;
}

.chatbox {
  display: flex;
  align-items: center;
}

.chatbox input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.chatbox button {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.chatbox button:hover {
  background-color: #0056b3;
}
.Focus-section
{
  background-color: #0056b3;
  font:30px;
  color:white;
  text
}