.Focus-section {
  background: linear-gradient(135deg, #5067f7, #6432b8); /* Gradient background */
  color: white; /* Text color */
  text-align: center; /* Center align the text */
  padding: 40px; /* Add padding */
  font-size: 3.3rem; /* Font size */
  height: 60vh; /* Full viewport height */
  display: flex;
  line-height: 1.4;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
}

.ourstory
{
  font-size: larger;
  line-height: 1.2;
}
