.Focus-section {
  background: linear-gradient(135deg, #5067f7, #6432b8); /* Gradient background */
  color: white; /* Text color */
  font-size: 1.5rem; /* Font size */
  height: 60vh; /* Full viewport height */
  display: flex;
  flex-direction: row;
  margin: 0px;
  align-items: center; /* Center content horizontally */
  padding:0px;
  max-width:1600px;
}
.Focus-section p {
  max-width:50px; /* Limit paragraph width */
  font-size: 3.3rem; /* Adjust font size */
  line-height: 1.5; /* Improve readability */
 
  text-align: center; /* Justify the paragraph */
}

.ourstory
{
  font-size: larger;
  line-height: 1.2;
  justify-content: center;
}
