.Focus-section {
  background: linear-gradient(135deg, #5067f7, #6432b8); /* Gradient background */
  color: white; /* Text color */
  font-size: 3.6rem; /* Font size */
  height: 60vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  text-align: center; /* Center align the text */
  padding: 0 50px 30px; /* Add some padding for spacing */
  margin: 0; /* Remove margin */
}

.Focus-section h1 {
  font-size: 3.5rem; /* Adjusted font size */
  margin-bottom: 20px; /* Space below the heading */
}

.Focus-section p {
  max-width: 1600px; /* Set a maximum width for the paragraph */
  font-size: 1.2rem; /* Adjusted font size */
  line-height: 1.6; /* Improve readability */
  margin: 0 auto; /* Center the paragraph */
  text-align: center; /* Center align the paragraph */
  color: #ffffff; /* White color for readability */
}

.ourstory
{
  font-size: larger;
  line-height: 1.2;
  justify-content: center;
}
